<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DerRedEdr</title>
    <script src="/static/shared.js"></script>
    <link rel="stylesheet" href="/static/design.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body class="somepadding">
    
    <h1>DerRedEdr</h1>

    <p>Upload your Red Teaming tool to see the runtime detection surface. EXE only.
        10 seconds runtime, with Internet access. <br>
        This is a online version of <a href="https://github.com/dobin/RedEdr">RedEDR</a>
        (<a href="https://github.com/dobin/RedEdr">RedEDR UI</a>).
    </p>

    <p> 
        Captured events:
        <ul>
            <li>ETW & ETW-TI (Threat Intelligence) events with KrabsETW & pplrunner</li>
            <li>VirtualAlloc() etc. function calls with usermode ntdll.dll function hooking </li>
            <li>Kernel callbacks</li>
        </ul>
        Overview of <a href="https://github.com/dobin/RedEdr/blob/master/Doc/captured_events.md">captured events</a>. 
        Detections are in JSON key `detection`.
    </p>

    <p>This is not suitable for malware analysis. The VM is easily detectable.</p>

    <ul>
        <li>Analysis results (JSON & filename) are public</li>
        <li>Uploaded files are not public</li>
        <li>Uploader IP and all VM network communication is logged</li>
        <li>Do not misuse this service</li>
        <li>Analysis will take around half a minute</li>
    </ul>

    <form action="/create_job" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" required>
        <button type="submit">Analyze File</button>
    </form>

    <div 
        id="jobs-container" 
        hx-get="/jobs" 
        hx-trigger="load, every 1s">
    </div>

    <h2>Uploaded</h2>
    <div 
        id="uploaded-container" 
        hx-get="/uploaded" 
        hx-trigger="load, every 1s">
    </div>
</body>
</html>